		<div class="container">
			<h1>Sign up</h1>
			<form action="?signup" method="post">
				<p>Username</p>
				<input type="text" name="username" />
				<p>Password</p>
				<label class="password"></label>
				<input type="password" name="password" />
				<p>Retype password</p>
				<label class="password_retype"></label>
				<input type="password" name="password_retype" />
				<br />
				<br />
				<input type="submit"  value="Sign up" />
			</form>
			<br />
			<a href="?login">Back to log in</a>
			<script type="text/javascript" src="js/jquery.min.js"></script>
			<script type="text/javascript" src="views/signup.js"></script>
